<table class="table table-striped">
  <thead>
  <tr>
    <th>Autor</th>
    <th>Título</th>
    <th>ISBN</th>
    <th>Publicación</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{book.autor}}</td>
      <td>{{book.title}}</td>
      <td>{{book.ISBN}}</td>
      <td>{{book.publication_date}}</td>
      <td>
        <a href={{book.id}}><i class="fa fa-edit"></i></a>
        <a href='{{book.id}}/edit'><i class="fa fa-shower"></i></a>
        <a data-toggle="modal" data-target="#deleteModal"><i class="fa fa-eraser"></i></a>
      </td>
    </tr>
  </tbody>
</table>

<!-- The Modal -->
<div class="modal" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Borrar Libro</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        ¿Seguro que quieres eliminar el libro?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>